{% extends 'base.html'%}
{% block content%}

 <!-- Header Section Start -->
 <header id="home" class="hero-area-2">    
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#app-features">Features</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#screenshots">Screenshots</a>
            </li>                            
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#testimonial">Testimonial</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#pricing">Plans</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link page-scroll" download="county-grivances" href="#download">Download</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#map-area">Contact</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>  
    <div class="container">      
      <div class="row space-100">
        <div class="col-lg-7 col-md-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">Get Your Grivances on  <br> Board with the app</h2>
            <p>If you are unhappy with the quality of service you receive from the County Government, we will endeavor to set things right , download the app today to share your grivances for quick responses from county board</p>
            <div class="header-button">
              <a href="https://bbireport.herokuapp.com/static/county.apk" class="btn btn-border-filled" download="county-grivances">Download</a>
              <a href="#app-features" class="btn btn-border">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12" style="margin-top: -100px;">
          <div class="intro-img">
            <img src="static/img/mobile1.png" alt="mobile">
          </div>            
        </div>
      </div> 
    </div>             
  </header>
  <!-- Header Section End --> 

  <!-- features Section Start -->
  <div id="app-features" class="section">
    <div class="container">
      <div class="section-header">   
        <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">features</p>       
        <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Amazing Features</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="content-left text-right">
            <div class="box-item left">
              <span class="icon">
                <i class="lni-leaf"></i>
              </span>
              <div class="text">
                <h4>User Friendly</h4>
                <p>Easy workthrough when using the app with quick navigations.</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="lni-dashboard"></i>
              </span>
              <div class="text">
                <h4>Super Fast Speed</h4>
                <p>The app preloads quickly when you track from section to sections.</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="lni-headphone-alt"></i>
              </span>
              <div class="text">
                <h4>24/7 Support</h4>
                <p>We make it ease for you when using it feel free to contact us</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="show-box">
            <img src="static/img/mobile1.png" alt="mob">
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="content-right text-left">
            <div class="box-item right">
              <span class="icon">
                <i class="lni-shield"></i>
              </span>
              <div class="text">
                <h4>Secure</h4>
                <p>Your details and your informations are kept safe without disclosure</p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="lni-star-filled"></i>
              </span>
              <div class="text">
                <h4>Awesome Rating</h4>
                <p>The app is used by many people and gives quality assurance </p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="lni-cup"></i>
              </span>
              <div class="text">
                <h4>Award Winning</h4>
                <p>Its the leading app used by all kenya counties to share their grivances .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- features Section End -->

  <!-- Features Section Start -->
  <div id="features-two" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid" src="static/img/mobile2.png" alt="" style="max-height: 500px;">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
            <div>
              <p class="btn btn-subtitle">How It Works?</p>  
              <h3>Our App Is Amazing!</h3>
              <p>Its simple and brings convinience to everyone while using the app, all you need is to type your grivances add a photo if you would wish to and click the submit button.</p>
              <button ><a class="btn btn-border-filled"  href="https://bbireport.herokuapp.com/static/county.apk" download="county-grivances">Download Now</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Section End -->   

  <!-- Awesome Screens Section Start -->
  <section id="screenshots" class="screens-shot section">
    <div class="container">
      <div class="section-header">   
        <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Screenshots</p>       
        <h2 class="section-title">App Screens</h2>
      </div>
      <div class="row">
        <div class="touch-slider owl-carousel">
          <div class="item">
            <div class="screenshot-thumb">
              <img class="img-fluid" src="static/img/mobile1.png" alt="mobile">
            </div>
          </div>
          <div class="item">
            <div class="screenshot-thumb">
              <img class="img-fluid" src="static/img/mobile2.png" alt="">
            </div>
          </div>
          <div class="item">
            <div class="screenshot-thumb">
              <img class="img-fluid" src="static/img/mobile3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Awesome Screens Section End -->  

  <!-- Subcribe Section Start -->
  <div id="subscribe" class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12 col-xs-12">
          <div class="subscribe-form">
            <div class="form-wrapper">
              <div class="sub-title text-center">
                <h3>Subscribe For More Info </h3>
                <p>Recieve more grivances posted from your county and keep track with policies implemented by the county government .</p>
              </div>
              <form>
                <div class="row">
                  <div class="col-12 form-line">
                    <div class="form-group form-search">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSekUEn1hKMYII2tpQSBa6_aSQ1KvVEXlfFMhS2V5OyGklnWag/viewform?embedded=true" width="640" height="383" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div> 
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Subcribe Section End -->

  
  <!-- download Section Start -->
  <section id="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top: -170px;">            
          <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
            <img class="img-fluid" src="static/img/mobile4.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
            <div>
              <div class="download-text">
                <h4>Download Our App From Store</h4>
                <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change. Enthusiastically architect adaptive.</p>
              </div>
              <a href="https://bbireport.herokuapp.com/static/county.apk" download="county-grivances" class="btn btn-common btn-effect"><i class="lni-android"></i> From PlayStore<br></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- download Section Start -->
  <!-- Footer -->
<footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge" style="margin-top: -70px;">
    <div> share on: </div>
<div class="w3-section">
<a href="https://www.facebook.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
<a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a> 
<a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
<a href="https://twitter.com/compose/tweet"><i class="fa fa-twitter w3-hover-opacity"></i></a>
<a href="https://www.linkedin.com/post/new/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
</div>

</footer>
  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a> 

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->
{% endblock%}